.flex-row1{
    display: flex;
    direction: row;
}
.flex-col1{
    display:flex;
    direction:column;
}
.get-started-btn1{
    background-color:rgba(62, 213, 221, 1);
    color: white;
    border: 1px solid rgba(62, 213, 221, 1);
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    width:10rem;
}
.pos11{
    max-width: 50%;
    text-align: left;
    margin-left:2rem;
}

.pos2{
    width:20rem;
}
